html {
    background-color: lightgrey;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color : lightgrey;
    margin: auto;
    width: 90%;
    min-width: 1200px;
    max-width: 2000px;
    height: 100%;
    padding: 0;
}

.container{
    position: relative;
    background:  rgb(78, 86, 101); /* For browsers that do not support gradients */
    /* background: -webkit-linear-gradient(color1, color2); /* For Safari 5.1 to 6.0 */
    /* background: -o-linear-gradient(color1, color2); /* For Opera 11.1 to 12.0 */
    /* background: -moz-linear-gradient(color1, color2); /* For Firefox 3.6 to 15 */
    /* background: linear-gradient(color1, color2);  /* Standard syntax */
	background-size: cover;
    height: auto;
    padding: 2%;
}

.footer-container{
    position: relative;
    background-image: url("../img/pattern2.png") ;
    background-size: cover;
    height: auto;
    padding: 30px 30px;
}

a {
    color: white; 
}

#img1{
    z-index: 100;
    position: absolute;
    left: 10%;
    top: 15%;
    border-radius: 50%;
    height: 70%;
    width: auto;
    box-shadow: 10px 5px 5px gray;
}

#img3{
    width: 90%;
    align-content: center;
	height: auto;
    padding: 2%;
}

#cat{
    display: inline-block;
    float: left;
    width: 42%;
    height: auto;
    padding-left: 5%; 
}

#cat_2{
    display: inline-block;
    float: right;
    width: 42%;
    height: auto;
    padding-right: 5%;
}

#text1{
    z-index:100;
    position: relative;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 2%;
}

#intro{
    z-index:100;
    color: white;
    font-size: 22px;
    text-align: center;
}

#text2{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

#footnote{
	color: white;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}

#area1{
	width:100%;
	height:100px;
}

.clear{
    clear:both;
}

.img-circle {
    border-radius: 50%;
}

.content-container{
    background-color: white;
	padding: 40px 40px;
	text-align: left;
	font-size: 20px;
    margin-bottom: 30px;
    display: block;
}

.content-title{
    font-size: 30px;
    color: rgb(78, 86, 101);
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
}

.content-subtitle{
    font-size: 22px;
    color: rgb(78, 86, 101);
    text-align: center;
    padding-bottom: 20px;
}

nav{
    margin-bottom: 76px;
}

.nav-button {
    background-color: #999999;
    width: 50%;
    padding: 10px 0;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: white;
    float: left;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #666666;
}

.icon {
    background-color: white;
    height: 40px;
    width: 40px;
    padding: 0 0;
    margin-right: 5px;
    display: inline-block;
    position: center;
    cursor: pointer;
    border-radius: 50%;
}

.icon-container{
	text-align:center;
    margin: 10px 10px;
}

/* The following is for projects.php*/
.project-container{
	display: block;
	height: auto;
	width: 100%;
	margin-bottom: 30px;
}
.project-image-container{
	display: inline-block;
	vertical-align: top;
	width: 30%;
	height: auto;
	margin-right: 3%;
}
.project-logo-container{
	display: inline-block;
	vertical-align: top;
	width: 4%;
	height: auto;
    margin-right: 2%; 
}
.project-text-container{
	display: inline-block;
	vertical-align: top;
	width: 60%;
	height: auto;
	margin-left: 3%;
}
.project-full-text-container{
	display: inline-block;
	vertical-align: top;
	width: 90%;
	height: auto;
    margin-left: 2%; 
}
.project-video-container{
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
}
.project-year-container{
    background-color: rgb(78, 86, 101); /*#FFC064*/
    padding: 5px;
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

table {
    text-align: center;
    align-content: center;
    vertical-align: middle;
    border-collapse: collapse;
    width: 100%;
}

th {
    width: 65px;
    padding: 1%;
    text-align: center;
    font-size: 18px;
    align-content: center;
    vertical-align: middle;
    border-collapse: collapse;
}

td {
    width: 65px;
    padding: 1%;
    text-align: left;
    font-size: 14px;
    align-content: center;
    vertical-align: middle;
    border-collapse: collapse;
}

.play-button{
    width: 50px; 
    height: auto;
    display: block; 
}

.play-button-demo{
    width: 200px; 
    height: auto;
    display: block; 
}

/* End here */

h1 {
    text-align: center;
    color: rgb(78, 86, 101);
}

.icon-container > a {
    color: transparent;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

hr {
    color: rgb(78, 86, 101);
    size: 10px;
}

.option-div{
    font-size: 24px;
    color: rgb(78, 86, 101);
    font-weight: bold;
}

.option-div option{
    font-size: 20px;
}

.fa-play:before {
    content: "\f04b"
}

.fa-pause:before {
    content: "\f04c"
}

.fa-stop:before {
    content: "\f04d"
}

.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media screen and (prefers-reduced-motion:reduce) {
    .btn {
        transition: none
    }
}

.btn:focus, .btn:hover {
    text-decoration: none
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.btn.disabled, .btn:disabled {
    opacity: .65
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer
}

a.btn.disabled, fieldset:disabled a.btn {
    pointer-events: none
}

.btn-primary {
    color: #fff;
    background-color: rgb(78, 86, 101);
    border-color: rgb(78, 86, 101)
}

.btn-primary:hover {
    color: #fff;
    background-color: rgb(78, 86, 101);
    border-color: rgb(78, 86, 101)
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(22, 38, 67, .5)
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: rgb(78, 86, 101);
    border-color: rgb(78, 86, 101)
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: rgb(78, 86, 101);
    border-color: rgb(78, 86, 101)
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(22, 38, 67, .5)
}